<%- include("partials/header") %>
    <div class="row">
        <div class="col-6 col-md-4 square">
            <a href="/drinks/rum">
                <h1>Rum</h1>
            </a>

        </div>
        <div class="col-6 col-md-4 square">
            <a href="/drinks/Gin">
                <h1>Gin</h1>
            </a>
        </div>
        <div class="col-6 col-md-4 square">
            <a href="/drinks/vodka">
                <h1>Vodka</h1>
            </a>
        </div>
        <div class="col-6 col-md-4 square">
            <a href="/drinks/vodka">
                <h1>Whiskey</h1>
            </a>
        </div>
        <div class="col-6 col-md-4 square">
            <a href="/drinks/tequila">
                <h1>Tequila</h1>

            </a>
        </div>
        <div class="col-6 col-md-4 square">
            <a href="/drinks/surprise">
                <h1>Surprise me</h1>
            </a>
        </div>
    </div>
    <%- include("partials/footer") %>