<%- include("partials/header") %>
    <div class="row">
        <div class="col-6 col-md-4 square">
            <h1>Rum</h1>
        </div>
        <div class="col-6 col-md-4 square">
            <h1>Gin</h1>
        </div>
        <div class="col-6 col-md-4 square">
            <h1>Vodka</h1>
        </div>
        <div class="col-6 col-md-4 square">
            <h1>Whiskey</h1>
        </div>
        <div class="col-6 col-md-4 square">
            <h1>Tequila</h1>
        </div>
        <div class="col-6 col-md-4 square">
            <h1>Surprise me</h1>
        </div>
    </div>
    <%- include("partials/footer") %>