<%- include("partials/header") %>
    <%- include("partials/navbar") %>
        <div class="drinkTitleForm">
            <h1>
                Add your own cocktail to the site!
            </h1>
        </div>
        <div class="container my-5">
            <form name="newDrinkForm" action="/drinks" method="POST">
                <div class="row justify-content-around">
                    <div class="col-md-5">
                        <div class="form-group ">
                            <label for="newDrinkName">Cocktail name</label>
                            <input type="text" class="form-control" name="newDrinkName" id="newDrinkName" placeholder="Cocktail name">
                        </div>
                        <div class="form-group">
                            <label for="newDrinkDescription">A short description</label>
                            <textarea name="newDrinkDescription" id="newDrinkDescription" class="form-control" cols="30" rows="3"></textarea>
                        </div>
                        <div class="form-group" name="newDrinkMethod">
                            <label for="newDrinkMethod1">Describe the method of creating the cocktail in up to 3 steps</label>
                            <input type="text" class="form-control mb-2" name="newDrinkMethod1" id="newDrinkMethod1" placeholder="Step 1">
                            <input type="text" class="form-control mb-2" name="newDrinkMethod2" id="newDrinkMethod2" placeholder="Step 2">
                            <input type="text" class="form-control mb-2" name="newDrinkMethod3" id="newDrinkMethod3" placeholder="Step 3">
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="newDrinkImg">Image URL</label>
                            <input type="text" class="form-control" name="newDrinkImg" id="newDrinkImg" placeholder="Image URL">
                        </div>
                        <div class="form-group">
                            <p class="mb-1">Catagories</p>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="newDrinkCatagories" id="rumCheckbox" value="Rum">
                                <label class="form-check-label" for="rumCheckbox">Rum</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="newDrinkCatagories" id="ginCheckbox" value="Gin">
                                <label class="form-check-label" for="ginCheckbox">Gin</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="newDrinkCatagories" id="vodkaCheckbox" value="Vodka">
                                <label class="form-check-label" for="vodkaCheckbox">Vodka</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="newDrinkCatagories" id="whiskeyCheckbox" value="Whiskey">
                                <label class="form-check-label" for="whiskeyCheckbox">Whiskey</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="newDrinkCatagories" id="tequilaCheckbox" value="Tequila">
                                <label class="form-check-label" for="tequilaCheckbox">Tequila</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="newDrinkIngredient1">Ingredients - Seperate ingredient and quantity by a comma and each ingredient by a dash</label>
                            <input type="text" class="form-control" name="newDrinkIngredients" id="newDrinkIngredients" placeholder="Vodka-50ml,Rum-25ml,Gin-50ml etc">
                        </div>

                        <p class="mb-1">Difficulty</p>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="newDrinkDifficulty" id="exampleRadios1" value="Easy" checked>
                            <label class="form-check-label" for="exampleRadios1">Easy</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="newDrinkDifficulty" id="exampleRadios2" value="Medium">
                            <label class="form-check-label" for="exampleRadios2">Medium</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="newDrinkDifficulty" id="exampleRadios3" value="Hard">
                            <label class="form-check-label" for="exampleRadios3">Hard</label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-around">
                    <button type="submit" class="btn btn-rg mb-5">Submit</button>
                </div>
            </form>
        </div>


        <%- include("partials/footer") %>