body {
    height: 100vh !important;
    width: 100vw !important;
    background: white;
    @media(max-width: 768px) {
        height: fit-content;
    }
}

.shownCollapsedNav {
    height: 100vh !important;
}

nav {
    background-color: #FF5C5C;
    height: 10vh;
    max-height: 1000px;
    transition: height 1s ease;
    overflow: hidden;
    .fullNav {
        height: 100%;
    }
    .nav-link {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        height: 100%;
        padding: 0;
        &:hover {
            background-color: white;
            a {
                color: #FF5C5C;
                text-decoration: none;
            }
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            color: white;
        }
    }
    .collapsed-nav-link:nth-of-type(1),
    .collapsed-nav-link:nth-of-type(4),
    .collapsed-nav-link:nth-of-type(5) {
        background-color: white;
    }
    .collapsedNav {
        overflow-y: hidden;
        width: 100%;
        button {
            width: 100%;
            height: 10vh;
            font-size: 36px;
            background: transparent;
            border: none;
            color: white;
            i {
                transition-duration: 1s;
            }
        }
        .collapsed-nav-link {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 50vw;
            a {
                font-family: 'Dancing Script', cursive;
                transform: rotate(-45deg);
                color: black;
                font-size: 10vw;
            }
        }
    }
}

.square {
    height: 50vh;
    padding: 0;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        color: black;
         :hover {
            text-decoration: inherit;
        }
    }
    h1 {
        font-family: 'Dancing Script', cursive;
        transform: rotate(-45deg);
        font-size: 3.5rem;
        height: fit-content;
    }
    @media (max-width: 768px) {
        height: 33vh;
        width: 50vh;
        h1 {
            font-size: 2rem;
        }
    }
}

@media (min-width: 768px) {
    .square:nth-of-type(2n) {
        background-color: #FF5C5C;
    }
}

@media (max-width: 767px) {
    .square:nth-of-type(1),
    .square:nth-of-type(4),
    .square:nth-of-type(5) {
        background-color: #FF5C5C;
    }
}

.drinkRow {
    margin-top: 40px;
    background: white;
}

.card {
    .btn {
        width: 100%;
        border-radius: 0;
        background-color: #FF5C5C;
        border: none;
    }
    .card-body {
        padding: 0;
    }
    .card-content {
        padding: 1.25rem;
    }
}

.oneDrink {
    width: 100vw;
    margin: 0;
    @media (min-width: 768px) {
        height: 90vh;
    }
    @media (max-width: 767px) {
        height: auto;
    }
    .drinkImage {
        height: 40vh;
        img {
            width: 100%;
            max-height: 100%;
            margin: 0 auto;
        }
    }
    .drinkIngredients {
        @media (min-width: 768px) {
            height: 50vh;
            display: flex;
            align-items: center;
        }
        @media (max-width: 767px) {
            height: auto;
        }
        padding: 25px 0;
        background-color: #f5e1e1;
        ul {
            padding: 0;
            margin: 0 auto;
            font-family: 'Abel', sans-serif;
            list-style: none;
            line-height: 2.5rem;
            font-weight: 500;
            font-size: 25px;
        }
        @media (max-width: 768px) {
            font-size: 16px;
        }
    }
    .drinkTitle {
        @media (min-width: 768px) {
            height: 20vh;
        }
        display: flex;
        background-color: #FF8585;
        align-items: center;
        justify-content: center;
        height: auto;
        h1 {
            text-align: center;
            width: 100%;
            font-family: 'Dancing Script', cursive;
            font-size: 8vh;
            @media (min-width: 768px) {
                font-size: 15vh;
            }
        }
    }
    .drinkMethod {
        @media (min-width: 768px) {
            height: 65vh;
        }
        height: auto;
        ol {
            width: 65%;
            margin: auto;
            font-family: 'Abel', sans-serif;
            font-size: 20px;
            font-weight: 400;
        }
    }
    .editDeleteDrink {
        @media (min-width: 768px) {
            height: auto;
        }
        .updateButton,
        .deleteButton {
            margin: 0;
            padding: 0;
        }
        button {
            height: 100%;
            width: 100%;
            border-radius: 0;
        }
    }
}

.card {
    img,
    .card-plus-top {
        background-color: #FF8585;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            font-size: 90px;
            color: white;
        }
    }
}

form {
    .form-group {
        margin-bottom: 25px;
    }
    .btn-rg {
        background-color: #FF5C5C;
        width: 20vw;
        margin-top: 25px;
    }
}

.drinkTitleForm {
    height: 20%;
    background-color: #FF8585;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        text-align: center;
        width: 100%;
        font-family: 'Dancing Script', cursive;
        font-size: 8vw;
    }
}

.modal {
    .modal-footer {
        padding: 0;
        border-top: none;
        justify-content: space-between;
        margin-top: 15px;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 49.5%;
            margin: 0;
            height: 42px;
            background-color: #FF5C5C;
            color: white;
            padding: auto 0;
            transition: color .15s ease-in-out, background-color .15s ease-in-out;
            &:hover {
                background-color: white;
                color: #FF5C5C;
                text-decoration: none;
            }
        }
        form {
            width: 49.5%;
            height: 100%;
            padding: 0;
            margin: 0;
            button {
                width: 100%;
                height: 100%;
                padding: 9px;
                border-radius: 0;
                border: none;
                margin: 0;
                background-color: #FF5C5C;
                color: white;
                &:hover {
                    background-color: white;
                    color: #FF5C5C;
                    text-decoration: none;
                }
            }
        }
    }
}

input.invalid,
textarea.invalid {
    border: 1px solid red !important;
}

em.invalid {
    color: red;
    font-size: 0.8rem;
}