body {
  height: 100vh !important;
  width: 100vw !important;
  background: white;
}
@media (max-width: 768px) {
  body {
    height: fit-content;
  }
}

.shownCollapsedNav {
  height: 100vh !important;
}

nav {
  background-color: #FF5C5C;
  height: 10vh;
  padding-bottom: 2px;
  max-height: 1000px;
  transition: height 1s ease;
  overflow: hidden;
}
nav .fullNav {
  height: 100%;
}
nav .nav-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  padding: 0;
}
nav .nav-link:hover {
  background-color: white;
}
nav .nav-link:hover a {
  color: #FF5C5C;
  text-decoration: none;
}
nav .nav-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
}
nav .collapsed-nav-link:nth-of-type(1),
nav .collapsed-nav-link:nth-of-type(4),
nav .collapsed-nav-link:nth-of-type(5) {
  background-color: white;
}
nav .collapsedNav {
  overflow-y: hidden;
  width: 100%;
}
nav .collapsedNav button {
  width: 100%;
  height: 10vh;
  font-size: 36px;
  background: transparent;
  border: none;
  color: white;
}
nav .collapsedNav button i {
  transition-duration: 1s;
}
nav .collapsedNav .collapsed-nav-link {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50vw;
}
nav .collapsedNav .collapsed-nav-link a {
  font-family: "Dancing Script", cursive;
  transform: rotate(-45deg);
  color: black;
  font-size: 10vw;
}

.square {
  height: 50vh;
  padding: 0;
}
.square a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
}
.square a :hover {
  text-decoration: inherit;
}
.square h1 {
  font-family: "Dancing Script", cursive;
  transform: rotate(-45deg);
  font-size: 3.5rem;
  height: fit-content;
}
@media (max-width: 600px) {
  .square {
    height: 33vh;
    width: 50vh;
  }
  .square h1 {
    font-size: 2rem;
  }
}

@media (min-width: 601px) {
  .square:nth-of-type(2n) {
    background-color: #FF5C5C;
  }
}
@media (max-width: 600px) {
  .square:nth-of-type(1),
.square:nth-of-type(4),
.square:nth-of-type(5) {
    background-color: #FF5C5C;
  }
}
.drinkRow {
  margin-top: 40px;
  background: white;
}

.card .btn {
  width: 100%;
  border-radius: 0;
  background-color: #FF5C5C;
  border: none;
}
.card .card-body {
  padding: 0;
}
.card .card-content {
  padding: 1.25rem;
}

.oneDrink {
  width: 100vw;
  margin: 0;
}
@media (min-width: 768px) {
  .oneDrink {
    height: 90vh;
  }
}
@media (max-width: 767px) {
  .oneDrink {
    height: auto;
  }
}
.oneDrink .drinkImage {
  height: 40vh;
}
.oneDrink .drinkImage img {
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.oneDrink .drinkIngredients {
  padding: 25px 0;
  background-color: #f5e1e1;
}
@media (min-width: 768px) {
  .oneDrink .drinkIngredients {
    height: 50vh;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .oneDrink .drinkIngredients {
    height: auto;
  }
}
.oneDrink .drinkIngredients ul {
  padding: 0;
  margin: 0 auto;
  font-family: "Abel", sans-serif;
  list-style: none;
  line-height: 2.5rem;
  font-weight: 500;
  font-size: 25px;
}
@media (max-width: 600px) {
  .oneDrink .drinkIngredients {
    font-size: 16px;
  }
}
.oneDrink .drinkTitle {
  display: flex;
  background-color: #FF8585;
  align-items: center;
  justify-content: center;
  height: auto;
}
@media (min-width: 768px) {
  .oneDrink .drinkTitle {
    height: 20vh;
  }
}
.oneDrink .drinkTitle h1 {
  text-align: center;
  width: 100%;
  font-family: "Dancing Script", cursive;
  font-size: 8vh;
}
@media (min-width: 768px) {
  .oneDrink .drinkTitle h1 {
    font-size: 15vh;
  }
}
.oneDrink .drinkMethod {
  height: auto;
}
@media (min-width: 768px) {
  .oneDrink .drinkMethod {
    height: 65vh;
  }
}
.oneDrink .drinkMethod ol {
  width: 65%;
  margin: auto;
  font-family: "Abel", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .oneDrink .editDeleteDrink {
    height: auto;
  }
}
.oneDrink .editDeleteDrink .updateButton,
.oneDrink .editDeleteDrink .deleteButton {
  margin: 0;
  padding: 0;
}
.oneDrink .editDeleteDrink button {
  height: 100%;
  width: 100%;
  border-radius: 0;
}

.card img,
.card .card-plus-top {
  background-color: #FF8585;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card img i,
.card .card-plus-top i {
  font-size: 90px;
  color: white;
}

form .form-group {
  margin-bottom: 25px;
}
form .btn-rg {
  background-color: #FF5C5C;
  width: 20vw;
  margin-top: 25px;
}

.drinkTitleForm {
  height: 20%;
  background-color: #FF8585;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drinkTitleForm h1 {
  text-align: center;
  width: 100%;
  font-family: "Dancing Script", cursive;
  font-size: 7vw;
}
@media (max-width: 600px) {
  .drinkTitleForm {
    font-size: 24px;
  }
}

.modal .modal-footer {
  padding: 0;
  border-top: none;
  justify-content: space-between;
  margin-top: 15px;
}
.modal .modal-footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49.5%;
  margin: 0;
  height: 42px;
  background-color: #FF5C5C;
  color: white;
  padding: auto 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
.modal .modal-footer a:hover {
  background-color: white;
  color: #FF5C5C;
  text-decoration: none;
}
.modal .modal-footer form {
  width: 49.5%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.modal .modal-footer form button {
  width: 100%;
  height: 100%;
  padding: 9px;
  border-radius: 0;
  border: none;
  margin: 0;
  background-color: #FF5C5C;
  color: white;
}
.modal .modal-footer form button:hover {
  background-color: white;
  color: #FF5C5C;
  text-decoration: none;
}

input.invalid,
textarea.invalid {
  border: 1px solid red !important;
}

em.invalid {
  color: red;
  font-size: 0.8rem;
}

/*# sourceMappingURL=style.css.map */
